/* google font link-inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* google font link-pacifico font */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.fit{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 78px;
}
