/* google font link-inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* google font link-pacifico font */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    background-color: black;
    font-family: "Inter";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* style related section */
.main-container{
    margin: auto;
    margin:0rem 9rem;    
}
.container-style{
margin: auto;
margin:0rem 9rem;
padding: 3rem 0rem;

}
.text-align{
    text-align: center;
}
.contain-box{
    display: flex;
    justify-content: space-between;
}
.primary-color{
    color: rgb(230, 83, 60);
}
.primary-bg{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: .27rem 1.25rem;
}
.body-container{
    background-image: url("./images/banner.png");
    background-position: right;
    background-repeat: no-repeat;
    height: 44rem;
    /* gap:3.5rem; */
    /* display: flex; */
}
.heading-style{
color: rgb(255, 255, 255);
font-size: 2.50rem;
font-weight: 900;
padding-bottom: .90rem;
}
.paragraph-color{
color: rgba(255, 255, 255, 0.5);
font-size:.90rem;
font-weight: 400;
line-height: 1.50rem;
}
.btn-1{
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2.50rem;
    background-color: rgb(230, 83, 60);
    color:rgb(255, 255, 255) ;
    border: none;
}
.btn-2{
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2.50rem;
    background-color: transparent;
    margin-left: 1rem;
}
/* first section */
.banner{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    height: auto;
    
}
.fitness-size{
    font-size: 36px;
    font-weight: 800;
}
ul{
    list-style-type: none;
    gap: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;  
    display: flex; 
    align-items: center;
    padding: .28rem 1rem;
}
li{
    text-decoration: none;
    font-weight:400;
    font-size:1rem;
    color: rgb(255, 255, 255);
}
.bars-icon{
    display: none;
}
.contain-banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contain-banner h1{
font-size: 4rem;
font-weight: 900;
color: rgb(255, 255, 255);
line-height: 120%;
padding-top: 8rem;
}
.contain-banner span{
    font-size: 4rem;
    font-weight:400;
    color: rgb(255, 255, 255);
    line-height: 120%;  
    font-family: "Pacifico", cursive; 
}
.contain-banner p{
    margin: 1.50rem 0rem;
}
.get-image{
    /* background-image: url("../Assignment-2/images/banner.png"); */
    /* position: relative; */
    /* display: block; */
}
/* habit section */
.habit-container{
    margin-top: 4rem;
}
.habit-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habit-contain img{
    border-radius: 50%;
}
.habit-contain h3{
color: rgb(255, 255, 255);
font-size:1.25rem;
font-weight: 600;
padding-top: 1.25rem;
padding-bottom: .75rem;
}
/* run extra section */
.extra-container{
    border-radius: 18px;
   background-color: rgb(34, 34, 34);
   padding: 3rem;
   margin-top: 5rem;
   display: flex;

}
.run-image img{
    border-radius: 18px;
    width: 22rem;
}
.run-text{
    padding-right: 8rem;
}
.run-text button{
    margin-top: 2rem;
    padding: 1rem 2.56rem;
}
/* responsive */
@media only screen and (max-width: 576px) {
.container-style,
.main-container
 {
    margin: auto;
    padding: 1rem 1rem;
}
ul{
    display: none;
}
.bars-icon{
    display: block;
    color: white;
    font-size: 1.50rem;
    margin-top: .37rem;
}
.body-container,
.habit-container,
.extra-container
{
    flex-direction: column;
}
.extra-container{
    padding: 2rem;
}
.run-image img{
    margin-top: 2rem;
    width: 100%;
}
.run-text{
    padding-right: 0rem;
}
.run-text button{
    width: 100%;
}
.extra-container{
    margin-top: 1rem;
}
.habit-contain{
    margin-bottom: 1.75rem;
}
}


